<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- <link rel="stylesheet" href="../static/css/normalize.css"> -->

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
</head>

<body data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">
  <div id="page-wrapper" class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="default">  {{ yield }} </div>
</body>

</html>
